<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Payment Razorpay </title>
</head>
<body style="margin: 0; padding: 0; background-color :black;">
    
    <div style="font-size : 40px; font-family: Arial; color: white; text-shadow: 5px solid ; margin: 0%; height: 80px; background-color: #0000FF; text-align: center; line-height: 80px;">
        Razorpay 
    </div>

<button id="rzp-button1" style="font-size: 20px; width: 150px; text-align: center; background-color: #0000FF; line-height: 60px; font-family: Arial, Helvetica, sans-serif; border: none; color: white; margin:10% 50% 40% 45% ;"> Payment </button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_CeQZGtj1bgXaBT", "amount": "50000",  "currency": "INR",
    "name": "I B C", "description": "Test Transaction", "image": "https://seeklogo.com/images/I/ibc-logo-AE107E368C-seeklogo.com.png",
    "order_id": "order_NlkcN3t6fksVY5", "callback_url": "http://localhost:3000/api/payment/verify",
    "prefill": {
        "name": "Enter User Name",
        "email": "Enter User Email",
        "contact": "Enter User Mobile Number"
    },
    "theme": { "color": "#0000FF"  }
};
var rzpay = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    e.preventDefault();
    rzpay.open();
}
</script>
</body>
</html>